.inputString {
  width: 500px;
  height: 20px;
  border: 2px solid black;
  padding: 2px;
  margin: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.buttonX {
  width: 20px;
  padding: 2px 4px;
  border: none;
  background-color: white;
}